.function-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  background-color: #f0f0f0;
  z-index: 999;
  top: 60px;
}

.address-section {
  margin-right: 20px;
  padding-top: 16px;
}

.search-input {
  margin-right: 10px;
  padding: 8px;
  border-radius: 50px;
  border: 1px solid #ccc;
  width: 100%; /* Change width to 100% to occupy full width */
  max-width: 400px; /* Limit maximum width */
}

.filter-select,
.sort-select {
  text-align:left;
  margin: 10px;
  border-radius: 10px;
  max-width:fit-content;
  padding: 1.5vh 1vh;
  padding-left: 15px;
}

.search-input::placeholder {
  color: #aaa;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
  .function-bar {
    flex-direction: column; /* Stack items vertically */
    align-items: stretch; /* Stretch items to full width */
  }

  .search-input {
    margin-right: 0; /* Remove right margin */
    margin-bottom: 10px; /* Add bottom margin for spacing */
  }

  .filter-select,
  .sort-select {
    margin-right: 0; /* Remove right margin */
    margin-bottom: 10px; /* Add bottom margin for spacing */
  }
}
